-r ../../scripts/desktop/packaging/backend/requirements-core.txt
-r ../../scripts/desktop/packaging/backend/requirements-transcriber.txt
-r ../../scripts/desktop/packaging/backend/requirements-rag.txt
-r ../../scripts/desktop/packaging/backend/requirements-export.txt
